<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="win81" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="win81" />
  <package id="Prism.StoreApps" version="2.0.0" targetFramework="win81" />
  <package id="VisibilityControl" version="1.0.1" targetFramework="win81" />
</packages>